:root {
    ---main-color: #291770;
    ---main-color-alt: #583FBC;
    ---main-transition: 0.5s;
}
h1,
h2,
h3 {
    color: var(---main-color);
    font-style: italic;
    font-family: "ABeeZee", Arial, sans-serif;
}
/* Start Patients */
.patients {
    /* height: 100vh; */
    padding-top: 70px;
    background-color: #DBEFFA;
    width: 98%;
    border-radius: 0 25px 25px 0;
    position: relative;
    z-index: 0;
    /* overflow: hidden; */
}
.patients .container-fluid {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (max-width:992px) {
    .patients .container-fluid {
        flex-direction: column;
        gap: 40px;
    }
    .patients .text {
        padding-top: 90px;
        text-align: center;
    }
}
.patients .text {
    flex-basis: 45%;
}
.patients .text .main-heading h1 {
    font-size: 43px !important;
}
.patients .text p {
    line-height: 1.9;
    font-weight: 500;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 40px;
}
.patients .text button {
    color: white;
    padding: 15px 35px;
    border-radius: 16px;
    border: none;
    transition: var(---main-transition);
    background: linear-gradient( #1b0e52 , #1b0e52 ) no-repeat;
    background-size: 0%;
}
.patients .text button:hover {
    background-size: 100%;
}
.patients .images {
    position: relative;
    z-index: 2;
}
@media (max-width:767px) {
    .patients .images {
        width: 260px;
    }
    .patients .images .banner-image {
        width: 100%;
        max-width: 100%;
    }
    .patients .images .doctor {
        flex-direction: column;
        padding: 13px !important;
        bottom: 3% !important;
        left: 40px !important;
    }
    .patients .images .prot {
        position: absolute;
        bottom: 100px;
        right: 0 !important;
        width: 60px;
    }
}
.patients  .images::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    background-color: #7B55EC;
    border-radius: 50%;
    top: 150px;
    left: -16px;
    animation: img-scale 4s infinite;
}
.patients  .images::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-color: #583FBC;
    border-radius: 50%;
    bottom: 190px;
    left: -30px;
    animation: img-scale 4s infinite;
}
.patients .images .banner-image {
    position: relative;
    width: 440px;
    height: 600px;
    z-index: 99;
    /* animation: up-down 4s infinite; */
    bottom: -70px;
}
.patients .images .pattern {
    position: absolute;
    bottom: -100px;
    transform: translateY(-49%);
    left: -70px;
    z-index: 1;
}
.patients .images .circle4 {
    left: -20px;
    animation: img-scale 4s infinite;
}

.patients .images .prot {
    position: absolute;
    bottom: 100px;
    right: -20px;
    width: 60px;
    background-color: white;
    padding: 5px;
    border-radius: 16px;
    z-index: 9999;
    animation: img-scale 4s infinite;
}
/* End Patients */
/* Start Symptoms */
.symptoms {
    padding-top: 190px;  
    padding-bottom: 100px;
    padding-inline: 10px;
}
.symptoms .container {
    background-color: #FADBE2;
    width: 100%;
    border-radius: 20px;
    padding: 40px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
.symptoms .title {
    padding-top: 60px;
    text-align: center;
}
.symptoms .title p {
    line-height: 1.9;
    font-weight: 500;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 90px;
    width: 70%;
    margin-inline: auto;
}
.symptoms .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px ,1fr));
    gap: 25px;
}
@media (max-width:767px) {
    .symptoms .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px ,1fr));
    gap: 25px;
    }
}
.symptoms .boxes .box {
    display: flex;
    padding: 15px;
    align-items: center;
    gap: 20px;
}
@media (max-width:767px) {
    .symptoms .boxes .box {
        flex-direction: column;
        text-align: center;
    }
}
.symptoms .boxes .box p {
    line-height: 1.9;
    font-weight: 500;
    font-size: 14px;
}
/* End Symptoms */
/* Start Gallery */
.gallery {
    padding-top: 70px;
    padding-bottom: 70px;
}
.gallery .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 70px;
}
@media (max-width:992px) {
    .gallery .title {
        flex-direction: column;
    }
    .gallery .title p {
        padding-top: 40px;
    }
}
.gallery .title p {
    flex-basis: 45%;
    line-height: 1.9;
    font-weight: 500;
}
.gallery img {
    margin-bottom: 25px;
}
/* End Gallery */